<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
        }
    </style>
    <script src="//unpkg.com/globe.gl"></script>

    <script src="//unpkg.com/d3-dsv"></script>
    <script src="//unpkg.com/index-array-by"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Globe</title>
</head>

<body>
    <div id="globeViz"></div>
    <script>
        const OPACITY = 0.44;

        var loc = <%- JSON.stringify(loc) %>;
        var dest = [{
            latitude: 41.84,
            longitude: -87.64
        }, {
            latitude: 39.04,
            longitude: -77.47
        }];


        const myGlobe = Globe()
            (document.getElementById('globeViz'))
            .globeImageUrl('//unpkg.com/three-globe/example/img/earth-night.jpg')
            .pointOfView({ lat: 39.6, lng: -98.5, altitude: 2 })
            .arcLabel(d => `${d.user} from ${d.ip} at ${d.time}`)
            .arcsData(loc)
            .arcStartLat(d => +d.lat)
            .arcStartLng(d => +d.lon)
            .arcEndLat(d => dest[d.dest].latitude)
            .arcEndLng(d => dest[d.dest].longitude)
            .arcDashLength(0.25)
            .arcDashGap(1)
            .arcDashInitialGap(() => Math.random())
            .arcDashAnimateTime(4000)
            .arcColor(d => [`rgba(0, 255, 0, ${OPACITY})`, `rgba(255, 0, 0, ${OPACITY})`])
            .arcsTransitionDuration(0)
    </script>
</body>

</html>