<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber attack Map</title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <!-- I recommend you host this file on your own, since this will change without warning -->
    <script src="https://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
</head>

<body>
    <h1>Attack Map</h1>
    <a href="https://edwin.computer">Go to Edwin's Home page</a>
    <div id="container" style="position: relative; width: 100%;"></div>
    <script>
        //currently shows the locations based on when the server started
        //shows actual data and not random data
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        var lineFadeTime = 2000;
        var lineDrawTime = 850;

        // hard coded: Chicago
        var dest = {
            latitude: 41.84,
            longitude: -87.64
        }
        var map = new Datamap({
                scope: 'world',
                element: document.getElementById('container'),
                projection: 'mercator',
                responsive: true,
                fills: {
                    defaultFill: "#CCC",
                    gt50:"#FF0000"
                }
            })

            var arcs = [];
            var bubbles = [];

        //basic map config with custom fills, mercator projection
        //instead of doing everything at one
        //query the database for the 5 most recent Attacks every 20 seconds
        // 
        async function demo() {
            
            // while still connected
            var i = 0;
            var loc = <%- JSON.stringify(loc) %>; 
            //parsing input
            while (i < loc.length) {
                arcs.pop();
                bubbles.pop();
                bubbles.pop();
                var {user,ip,port,lon,lat} = loc[i]; //add time
                //once parsed
                
                arcs.push({
                    origin: {
                        latitude: lat,
                        longitude: lon
                    },
                    destination: dest
                });

                bubbles.push({ user: user, port: port, ip: ip, latitude: lat, longitude: lon, radius: 5, fillKey: 'gt50' });

                bubbles.push({ user: "edwin", port: "22", ip: 'localhost', latitude: dest["latitude"], longitude: dest["longitude"], radius: 5, fillKey: 'gt50' });

                map.arc(arcs, { strokeWidth: 5, strokeColor: '#000000' });
                map.bubbles(bubbles, {
                    popupTemplate: function (geo, data) {
                        return "<div class='hoverinfo'> user: " +data.user +" on port: "+ data.port +" from: " + data.ip + "</div>";
                    }
                });
                map.svg.selectAll('path.datamaps-arc').attr("opacity", 1);
                map.svg.selectAll('path.datamaps-arc').transition().duration(5000).style("opacity", 0);
                map.svg.selectAll('path.datamaps-arc').transition().delay(5000).remove();
                //map.svg.selectAll('circle.datamaps-bubble').attr("opacity", 1);
                //map.svg.selectAll('circle.datamaps-bubble').transition().duration//(1000).style("opacity", 0);
                //map.svg.selectAll('circle.datamaps-bubble').transition().delay//(10000).remove();
                await sleep(5000);
                i++;
            }
        }

        demo();
    </script>
</body>

</html>