:root {
  /*colors*/
  --background: #ececee;
  --accents: #222222; /**/
  --highlights: #ff0000;
  --text: #2c2c2c;

  /*fonts*/
  --titleFont: "InterDisplay";
  --serifFont: "Lato";
  --fontSize: 2rem;

  --spacing-full: 30px;
  --spacing-half: $spacing-full / 2;

  --on-mobile: 768px;
  --on-tablet: 769px;
  --on-desktop: 1024px;
  --on-widescreen: 1152px;
}

html {
  font-family: var(--serifFont), -system-ui, system-ui, sans-serif;
  font-size: 62.5%;
  color: var(--text);
  margin: 0 auto;
  text-decoration: none;
  max-width: 1000px;
}

h1 {
  font-family: var(--titleFont), "Raleway", "HelveticaNeue", "Helvetica Neue";
  font-size: 5rem;
  font-weight: bold;
  margin: auto 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}

table {
  width: 100%;
  position: relative;
  height: 150px;
  overflow: auto;
  margin-top: 20px;
  background: #ececec;
  text-align: center;
}

a {
  font-size: 2rem;
}

th {
  font-size: 2rem;
  height: 20px;
  width: 25rem;
}

td {
  font-size: 2rem;
}

nav {
  background-color: #ececec;
  display: flex;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #3f3f3f;
  align-items: center;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
nav > h2 {
  color: #222;
  text-decoration: none;
  padding: 5px 8px;
  opacity: 0.85;
  letter-spacing: 0.3px;
  text-align: center;

  &:hover {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }

  @include media-query($on-mobile) {
    opacity: 0.8;
  }
}

nav > a {
  color: #222;
  text-decoration: none;
  padding: 5px 8px;
  opacity: 0.85;
  letter-spacing: 0.3px;
  text-align: center;

  &:hover {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }

  @include media-query($on-mobile) {
    opacity: 0.8;
  }
}
